/checkpoints
__pycache__/*
*/__pycache__
/data
/output
/dst
/paraphrased_-1
/paraphrased_0
/paraphrased_1
/paraphrased_2
/paraphrased_3
/paraphrased_4
/paraphrased_5
/paraphrased_6
/paraphrased_7
/preds
/test
/test2

.gitattributes
*.log
*.md
*.zip